<center>
  <h1>How it works</h1>
</center>

<section class="need-help-container">
  <h3>I need help</h3>
  <p>First you will need to register to See the Need. Utilize our "Manage my Needs" feature to enter the following:</p>
    <ol>
      <li>Name of item(s) you are in need of.</li>
      <li>How many items you need.</li>
      <li>The urgency of your need of the item.</li>
      <li>And any additional notes you feel necessary to add to item request.</li>
    </ol>
  <p>There is no restriction to the number of items you may request.</p>
</section>

<section class="can-help-container">
  <h3>I can help</h3>
  <p>First thing to note, you don't have to make a profile to help. However, we strongly encourage you to register. This helps with our analytics. Our goal is to connect aid from people willing to help to the people who need help the most.</p>
  <p>Use our "View Needs" feature to search for a beneficiary in need of help. By clicking on "contact information", this will give you access to all of the information you will need to connect with people in need. You can also browse by using the map on the landing page.</p>
  <p>Thank you for your contribution.</p>
</section>