
<div class="jumbotron">
  <div class="title_box">
    <center><h2>See the Need</h2>
    <h3>Join forces for Nepal</h3></center>
  </div>
</div>


<%= render 'map' %>
<%= render "requested_resources/resources" %>

