<div id="banner">
<center><h2 id="welcome">Welcome to See The Need</h2></center>
<h4 id="description">Click on a pin on the map to view what resources have been requested at the chosen relief center.</h4>
</div>

<%= render 'map' %>

<section class="requested-resource-container">
  <%= render "requested_resources/resources" %>
</section>
<section class="about-container">

</section>


<footer>

</footer>