<nav class="navbar  navbar-fixed-top" >
    <div class="container-fluid" style="background-color: rgba(255,255,255,.8)">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <div class="navbar-brand">Vulcun</div>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">

                <li>
                    <form class="navbar-search" action="/login" method="POST">
                        <input type="text" name="username" placeholder="username" required/>
                        <input type="password" name="password" placeholder="password" required/>
                        <button type="submit" class="btn btn-default navbar-btn">Log in</button>
                    </form>
                </li>
                <li class="dropdown">
                    <a style="color:red" href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Register <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <form class="navbar-search" action="/users" method="POST">
                                <input for="username" class="form-control" type="text" placeholder="username" name="username" required/>
                                <input class="form-control" type="password" name="password" placeholder="password" required/>
                                <button type="submit" class="btn btn-default navbar-btn">Sign up</button>
                            </form>
                        </li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>