<div class="container">
<div id="banner">
  <center><h2 id="welcome">Welcome to See The Need</h2></center>
  <h4 id="description">Click on a pin on the map to view what resources have been requested at the chosen relief center.</h4>
</div>

<%= render 'map' %>

<section class="requested-resource-container">
  <center>
    <h1>In need of resources</h1>
    <small id='click-pin-display'>( click a pin to display )</small>
  </center>
  <%= render "requested_resources/resources" %>
</section>

<section id="about" class="about-container">
  <center>
    <h1>About</h1>
  </center>
  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
</section>
</div>
<footer>
  <center>
    <h1>Want to contribute?</h1>
  </center>
  <a href="https://github.com/zbarnes757/nepal-relief/">
    <img style='max-hight:10em;max-width:10em;' src="http://icons.iconarchive.com/icons/danleech/simple/512/github-icon.png">
  </a>
</footer>