<div class="table-responsive">
  <table class="table table-hover">
    <tr>
      <th>Item</th>
      <th>Quantity</th>
      <th>Urgency</th>
      <th>Notes</th>
      <th>&nbsp;</th>
    </tr>
    <tr>
      <td><%= @requested_resource.name %></td>
      <td><%= @requested_resource.quantity %></td>
      <td><%= @requested_resource.urgency %></td>
      <td><%= @requested_resource.notes %></td>
    </tr>
</table>