$asphault: #34495e;
$white: #ecf0f1;

#banner {
  background-color: $asphault;
  color: $white;
  height: 70px;
  margin-bottom: 2px;
}

#welcome {
  margin-top: 0px;
}

#description {
  padding-left: 10px;
}