// Place all the styles related to the beneficiary controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#beneficiary-map {
	width: 25em;
	height: 25em;
}