// Place all the styles related to the beneficiary controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.search-bar {
  text-align: center;
  padding: 3em;
  font-size: 1.5em;
}

.search-bar input {
  text-align: center;
}

.glyphicon-search:before {
  padding: 0.5em;
}

.table-head {
  font-weight: bold;
}