// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#index-map {
	width: 100%;
	height: 40em;
}

#click-pin-display {
  padding-bottom: 20em;
}

.requested-resource-container {
  height: 15em;
}

footer {
  height: 14em;
  background-color: #3a3a3a;
  margin-top: 2em;
  color: white;
}

