
<div class="col-md-6 col-md-offset-3">
  <h1>News Feed</h1>
  <% @activities.each_with_index do |activity, index| %>
    <% next if %>
    <% index%2 != 0%>
    <div class="activity">
      <p><%= link_to activity.owner.name, activity.owner if activity.owner %> just requested <%= activity.trackable.name %></p>
      <p><em>Posted <%= time_calc(activity.created_at.to_s)%></em></p>
    </div>
  <% end %>
</div>

